*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: .3s;
}

.app {
  background-color: #e6e9ef;
  height: 100vh;
  display: grid;
  place-items: center;
}

main{
  background-color: white;
  height: 65vh;
  width: 25%;
  border-radius: 15px;
  padding: 30px;
}

.screen {
  background-color: #edf1f4; 
  border-radius: 20px;
  /* box-shadow: 0px 2px  3px rgb(66, 65, 65) inset; */
  height: 20%;
  /* color: black; */

  margin-bottom: 35px;
  display: grid;
  place-items: center;
}

.screen > input {
  height: 90%;
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 40px;
  text-align: right;
}

.upper_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.special_btn {
  display: flex;
  gap: 20px;
  
}

.special_btn > button {
  border-radius: 10%;
  height: 40px;
  font-size: 18px;
}

.icon{
  transform: scale(2.5);
  
  margin-left: 20px;
}

.icon:hover{
  cursor: pointer;
}

.buttons{
  /* background-color: red; */
  height:calc(80% - 80px);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}

button {
  display: grid;
  place-items: center;
  font-size: 25px;
  height: 80px;
  width:80px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #eef1f3;
    /* box-shadow: -1px 0px 2px gray; */

}

button:hover{
  background-color: black;
  color: white;
  transform: scale(1.1);
cursor: pointer;
transition: .5s;
}

